

/* ion-select {
    display: inline;
} */

/* ion-alert:not(.select-alert, buttons) {
    --color: white !important;
  } */

  /* .ion-color-angry {
    --ion-color-base: var(--ion-color-angry);
    --ion-color-base-rgb: var(--ion-color-angry-rgb);
    --ion-color-contrast: var(--ion-color-angry-contrast);
    --ion-color-contrast-rgb: var(--ion-color-angry-contrast-rgb);
    --ion-color-shade: var(--ion-color-angry-shade);
    --ion-color-tint: var(--ion-color-angry-tint);
  } */

h1 {
    font-family: 'Readex Pro', sans-serif;
    font-weight: medium;
}

h3 {
    font-family: 'Readex Pro', sans-serif;
    font-weight: medium;
    display: inline
}

p {
    font-family: 'Readex Pro', sans-serif;
    font-weight: light;
}