h1 {
    font-family: 'Readex Pro', sans-serif;
    font-weight: medium;
}

h3 {
    font-family: 'Readex Pro', sans-serif;
    font-weight: medium;
    display: inline
}

p {
    font-family: 'Readex Pro', sans-serif;
    font-weight: light;
}